* {
  margin: 0;
  padding: 0;
  background-color: darkgray;
}

ol {
  color: white;
  list-style-type: "\1F44D";
  padding-left: 40px;
}

h1 {
  padding: 10px 0px 0px 10px;
  color: blue;
}

h3 {
  padding: 10px 0px 0px 10px;
  color: red;
}